<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>

<div class="row">
  <div class="col-8">
    <%= render partial: @articles %>
  </div>
  <div class="col-4">
    <%= render 'catalogs/catalogs' %>
  </div>
</div>
<br>

<% if session[:user_id] %>
  <%= link_to 'New Article', new_article_path %>
<% end %>
